---
layout: default
---
<div class="about">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J71LVVLKDE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J71LVVLKDE');
  </script>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">
      <div class="d-md-flex justify-content-between about-title">
        <span class="h2 font-weight-bold">{{ site.first_name }} {{ site.last_name }}</span>

        {% if page.profile.more_info %}
            <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>

      <p class="mb-2 h5">Computer Science Ph.D. Student at UCLA</p>

      {{ content }}
    </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <div class="my-4 section-divider"/>
      <p class="h2 my-2">
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Research</a>
      </p>
      {% include selected_papers.liquid %}
    {% endif %}
    
    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <div class="my-4 section-divider"/>
      <p class="h2 my-2">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </p>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <p class="h2 my-2">
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </p>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
